.container {
  overflow: auto;
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
}

.reset {
  position: fixed;
  bottom: 20px;
  left: 20px;
}

.back {
  position: fixed;
  bottom: 20px;
  right: 20px;
}
