.container {
  overflow: scroll;
  height: 100vh;
}

.container h2 {
  text-align: center;
  font-size: 2rem;
}

.main {
  margin: 30px;
  font-size: 1rem;
}

.article li {
  list-style: unset;
}

.footer {
  text-align: center;
  font-size: 3rem;
}

.back {
  position: fixed;
  bottom: 20px;
  right: 20px;
}
